
.static-enter{

}
.static-enter-active{
  animation: acrossIn .40s ease-out both;
}
.static-enter-to{

}
.static-leave{

}
.static-leave-active{
  animation: acrossOut .40s ease-in both;
}
.static-leave-to{

}
@keyframes acrossIn {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}